---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.wrap-image {
  overflow: hidden;
}

.wrap-image img.align-left {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 50%;
}

.wrap-image img.align-right {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  max-width: 50%;
}
